body {
  padding: 10px;
  font-family: sans-serif;
  background-image: url( https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
}


p.fs-3{
  color: rgb(0, 217, 255);
}


h1.display-1{
  color: rgb(0, 217, 255);
}

.bi {
  font-size: 1.5em;
  cursor: pointer;
  color: aqua;
}

.imgFrame {
  height: 400px;
 
}

